<div class="text-center">
       <h2>TRADERS</h2>
       <nav class="navbar navbar-expand-md navbar-dark " *ngIf="(authenticationService.isUserLoggedIn() )">


              <ul class="navbar-nav">
                     <li id="add"><a routerLink="/addGrains" style="color: #000000  " class="nav-link">Add grains</a>
                     </li>
                     <li id="view"><a routerLink="/viewGrainsList" style="color: #000000" class="nav-link">View grains
                                   list</a></li>
              </ul>
              <ul class="navbar-nav navbar-collapse justify-content-end">
                     <li id="logout"><a style="color: #000000" (click)="authenticationService.logout()"
                                   class="nav-link">Logout</a></li>
              </ul>
       </nav>
</div>

<div class="jumbotron " style="background-color:transparent">
       <div class="container my-custom-container">
              <router-outlet></router-outlet>
       </div>
</div>